.projects {
  margin: auto;
  position: relative;
  width: 750px;
  display: flex;
  flex-direction: column;
}

.project-block {
  border: 1px solid #000;
  margin: 0px auto 5px;
  width: 40%;
  overflow-wrap: break-word;
}

.project-block-layout{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
