.projects {
  margin: auto;
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.project-block {
  margin: 0px auto 5px;
  padding-bottom: 10px;
  width: 375px;
  overflow-wrap: break-word;

  border: 3px solid #000;
}

.project-block-layout{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.thumbnail {
  border: 1px solid #000;
}
